* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(213, 225, 236);
}

.container {
    background: rgb(60, 200, 255);
    border-radius:14px;
    padding:20px;
    width:90vw;
    max-width: 450px;
}

input {
    border:none;
    outline:none;
    padding:10px;
    border-radius:10px;
    font-size:20px;
    width:calc(100% - 80px);
}

button {
    border:none;
    outline:none;
    padding:14px;
    border-radius:50%;
    cursor: pointer;
    float:right;
}

.infos {
    margin-top:30px;
}

.cidade {
    color:#fff;
    font-size:32px;
    font-weight: 300;
}

.temp {
    font-size:24px;
    font-weight: bold;
    color:#fff;
    margin-top:20px;
}

.infos > div:first-of-type {
    color:white;
    margin-top:10px;
    font-size:12px;
    display: flex;
    gap: 5px;
}

.infos > div:last-of-type {
    display: flex;
    align-items: center;
    margin-top:12px;
}

.texto-previsao {
    color:#fff;
    margin-left:20px;
    text-transform: capitalize;
}

.umidade {
    color:#fff;
    margin-top:20px;
}